body {
  background-color: #4024bd;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4024bd;
}

.forsinkelseBox {
  border-radius: 15px;
  background-color: #5235d3;
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 40%;
  margin: 1%;
  margin-top: 0%;
  margin-bottom: 2%;
}

.textElems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lineBox {
  margin: auto;
  margin-bottom: 3%;
  margin-left: 1%;
  font-weight: 700;
  color: white;
  font-size: 1.3em;
  width: 100%;
}

.expectedBox {
  border-radius: 15px;
  margin: auto;
  margin-left: 1%;
  font-weight: 600;
  color: white;
  font-size: 0.8em;
}

.diffBox {
  border-radius: 15px;
  margin: auto;
  margin-right: 1%;
  font-weight: 600;
  color: white;
  font-size: 1em;
}

.header {
  height: 10%;
  width: 40%;
  color: white;
  padding: 1%;
  display: flex;
  flex-direction: row;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}

.select {
  background-color: rgb(211, 223, 250);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  border: 0px;
  font-size: 1.5em;
  padding: 2%;
  color: rgb(27, 27, 27);
  margin: 2%;
}

.vehicleStop {
  margin-left: 2%;
}

.spinning {
  animation: spin 0.3s linear;
}

@keyframes spin {
  20% {
    rotate: 20deg;
  }
  50% {
    rotate: 200deg;
  }
  80% {
    rotate: 360deg;
  }
}

.timeBox {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.showMore {
  border-radius: 15px;
  background-color: #543ac7;
  color: white;
  padding: 1%;
  width: 40%;
  margin: 1%;
  margin-top: 0%;
  margin-bottom: 2%;
  font-weight: 600;
  font-size: 1.6rem;
  border: 0px;
  cursor: pointer;
}

.footer {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .select {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  .forsinkelseBox {
    border-radius: 15px;
    background-color: #5235d3;
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 80%;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .header {
    height: 10%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 2%;
  }

  .lineBox {
    margin: auto;
    margin-bottom: 3%;
    margin-left: 1%;
    font-weight: 700;
    color: white;
    font-size: 1.1em;
    width: 100%;
  }

  .expectedBox {
    border-radius: 15px;
    margin: auto;
    margin-left: 1%;
    font-weight: 600;
    color: white;
    font-size: 0.7em;
  }

  .diffBox {
    border-radius: 15px;
    margin: auto;
    margin-right: 1%;
    font-weight: 600;
    color: white;
    font-size: 0.8em;
  }

  .search {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border: 0px;
    font-size: 1.5em;
    padding: 2%;
    margin-bottom: 2%;
    color: rgb(27, 27, 27);
  }

  .showMore {
    border-radius: 15px;
    background-color: #543ac7;
    color: white;
    padding: 2.5%;
    width: 80%;
    height: 10%;
    margin: 1%;
    margin-top: 0%;
    margin-bottom: 30%;
    font-weight: 600;
    font-size: 1.2rem;
    border: 0px;
  }

  .select {
    background-color: rgb(211, 223, 250);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border: 0px;
    font-size: 1.1em;
    padding: 2%;
    color: rgb(27, 27, 27);
    margin: 2%;
  }

  .selectStopPlace {
    display: none;
  }

  .footer {
    height: 13%;
    width: 100vw;
    background-color: #351aac;
    bottom: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
  }

  .footerButton {
    background-color: transparent;
    border: 0px;
    color: white;
    margin-left: 7%;
    margin-right: 7%;
  }

  .footerIcon {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .activeFooterButton {
    text-decoration: underline;
  }
}
